@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-content {
    /* Initial styles for the content (optional) */
    opacity: 0; /* Initially hidden */
    transform: translateY(100%); /* Start off-screen at bottom */
  
    /* Animation classes */
    animation: animate-from-left-bottom 1s ease-in-out forwards;
  }
  
  @keyframes animate-from-left-bottom {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @media only screen and (max-width: 600px) {
    #container-div{
      flex-direction: column;
      height: 100%;
    }
    #text-container{
      width: 100%;
      padding-top: 2rem;
    }
    #form-container{
      width: 90%;
      margin-top: 5rem;
      padding-bottom: 1rem;
    }
    #form-inner-container{
      width: 90%;
      padding-inline: 0;
    }
    #form-inner-container input{
      width: 100%;
    }
  }